@import './assets/scss/base.scss';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/*! Variables  */
:root {
  // @ Colors
  --blue-light: #66E2DC;
  --orange: #FA7453;
  --yellow: #FFB964;
  --white: #FCFAF9;
  --black: #191926;
}

/*  General Styles  */
html {
  font-size: 10px;
}

body {
  font-family: "IBM Plex Sans";
  font-size: 1.6rem;
  font-weight: 400;
  // line-height: 2.6rem;
  // text-align: center;
  color: var(--black);

  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;


  background-color: var(--white);
}

.wrapper {
  margin: 0rem 2.4rem;

  // 768px = 48em
  @media screen and (min-width: 48em) {
    margin: 0rem 3.9rem;
  }
}

#app {
  position: relative;
  overflow-x: hidden;

  @media screen and (min-width: 48em) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('./assets/images/bg-pattern-1.svg');
      background-size: cover;
      width: 26.667rem;
      height: 40rem;
      transform: translate(3.5rem, -3.2rem) // height: 46.8rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -25rem;
    left: 0rem;
    background-image: url("./assets/images/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 58.2rem;
    height: 78rem;
    z-index: -10;

    @media screen and (min-width: 48em) {
      background-image: url('./assets/images/bg-main-tablet.png');
      width: 128.3rem;
      height: 110.8rem;
      left: -30rem;
    }
  }
}